.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #05f83a;
  border-radius: 50%;
  display: inline-block;
}

.signin {
  text-align: center;
}
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }

  .signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    min-height: calc(100vh - 100px);
  }
  
  h2 {
    font-family: Arial, sans-serif;
    color: #333;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
  }

  .form-center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    height: 100vh;           /* Altura exata da viewport */
    background-color: #f0f0f0;
    margin: 0;               /* Remove qualquer margem que empurre o conteúdo */
    padding: 0;              /* Remove padding adicional */
  }
  
  label {
    font-weight: bold;
    color: #333;
  }
  
  input, textarea {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #0056b3;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .cancel {
    background-color: #dc3545;
  }

  .button-right {
    float: right;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004494;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 16px; /* Definir o tamanho base da fonte para uso com rem */
  }
  
  .container {
    max-width: 80%;                /* Largura máxima de 80% do viewport */
    margin: 0 auto;                /* Centraliza o contêiner horizontalmente */
    background-color: #f0f0f0;
    padding: 2rem;                 /* Espaçamento interno relativo ao tamanho da fonte */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.25rem;        /* Margem inferior de 1.25 vezes o tamanho da fonte */
  }
  
  h2 {
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
  }
  
  .mensagem {
    display: grid;
    grid-template-columns: 3rem 8rem 1fr;  /* Larguras relativas */
    gap: 0.625rem;                         /* Espaçamento entre colunas e linhas */
    align-items: center;
    padding: 0.625rem;

  }
  
  .icone {
    width: 2rem;                  /* Largura da imagem como ícone */
    height: auto;
  }
  
  .data-hora {
    color: #666;
    font-size: 0.875rem;          /* 87.5% do tamanho da fonte base */
  }
  
  .titulo {
    margin: 0;
    
  }

  .descricao {
    margin: 0;
    border-top: 1px solid #ccc;
  }
  
  p {
    font-size: 1rem;              /* Tamanho da fonte para parágrafos */
  }
  